*{
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container{
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
}


.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;
}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;
}

.btn:hover{
    transition: 20ms;
    background-image: url(https://i.pinimg.com/236x/a0/cc/be/a0ccbe5a738c319e82b6c386446ca68a.jpg);
}

.table{
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;
    background-color: black;
}

.table-container {
    width: 50%;
}


.data-table {
    width: 100%;
    border-collapse: collapse;
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.data-table th, .data-table td {
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;
    padding: 10px;
    text-align: center;
}


.data-table th {
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;
    background-color: black;
}


.data-table tr:nth-child(even) {
    background-image: url(https://i.pinimg.com/736x/e5/6d/04/e56d04cebdef4c4689b18dbfacead479.jpg);
    background-size: cover;
    background-color: black;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        font-size: 100px;
    }

    .box {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .form-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }

    .form-1 input {
        width: 100%;
        padding: 8px;
    }

    .data-table {
        display: block;
        overflow-x: auto;
        width: 100%;
    }


    .data-table th, .data-table td {
        font-size: 14px;
        padding: 8px;
    }
}